{% extends 'base.html.twig' %}

{% block title %}SubDomain index{% endblock %}

{% block body %}
    <h1>SubDomain index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sub_domain in sub_domains %}
            <tr>
                <td>{{ sub_domain.id }}</td>
                <td>{{ sub_domain.name }}</td>
                <td>{{ sub_domain.domain.name }}</td>
                <td>{{ sub_domain.belt.color }}</td>
                <td>
                    <a href="{{ path('sub_domain_show', {'id': sub_domain.id}) }}">show</a>
                    <a href="{{ path('sub_domain_edit', {'id': sub_domain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sub_domain_new') }}">Create new</a>
{% endblock %}
